/* //new cards// */

.logoCardAsist {
    max-width: 90px; 
    width: auto;
    height: auto;
}

.tittleCard{
    font-weight: bold;
    font-size: larger;
    color: #88d600;
    text-align: center;
}

.tittlePrice{
    font-weight: bold;
    font-size: 14px;
    color: black;
}

@media (max-width: 576px) {
    .tittlePrice2 {
        margin-top: 10px;
    }
}


.card-ofertas{
    padding: 30px 20px;
    font-size: 12px;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.align-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.aling-start{
    display: flex;

    flex-direction: column;
}
.btn-pdf{
    margin-top: 20px;
    width: auto;
}

.btnText{
    text-decoration:none; 
    color:white;
    margin-right: 5px;
}
.colPdf{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.bigEmoji{
    font-size: 10px; /* Cambia el tamaño según tus necesidades */
}

.textCards{
    font-size: 12px;
    padding-left: 60px;
}

.infoPlanes{
    display: flex;
    flex-direction: column;
}

.textCenter{
    margin-bottom: 10px;
    padding-left: 15px;
}

.lista-coberturas{
    margin-top: 10px;
}
.flex-colum{
    flex-direction: column;
}
.custom-table {
    max-width: 70%;
    margin: 15px auto;
    border-collapse: collapse;
}

.custom-table-colum {
    margin-top: 20px;
    display: flex;
    justify-content: center;
   
}

.custom-table th,
.custom-table td {
    padding: 8px;
    text-align: center;
}

.custom-table .header-row th {
    font-weight: bold;
    background-color: #e3e5e0;
    color: #000;
    border: none;
}



.custom-table .periodicity-header {
    font-weight: bold;
    color: #000;
    border: none !important;
}

.custom-table .periodicity-header-empty {
    border: none !important;
}


.custom-table tr:not(.header-row) th,
.custom-table tr:not(.header-row) td {
    border: 1px solid #c7bfbf;
}

.custom-table tfoot .bold-row th,
.custom-table tfoot .bold-row td {
    font-weight: bold;
    border-top: 2px solid #494949;
}

.th-out-border{
    border: none !important;
}

.centar-span-txt{
    text-align: center;
}

.btn-table{
    background: black;
    color: white;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 5px;
}

.btn-table:active {
    color: white; /* Cambia el color del texto cuando el botón esté activo (presionado) */
}

.table-responsive {
    overflow-x: auto;
    border: none !important;
  }

/*///////////////////////////////////////////////////////////////////////////////// */

