.row-filters {

    background-color: #EFF3F5;
    padding: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 1px solid gainsboro;
}


.mainDataContainer {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    border-radius: 15px;
    margin-bottom: 35px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);

}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 15px;
}

.contentFilters {
    border-radius: 10px;
    border: 1px solid gray;
    width: 100%;
}

.table-scroll {
    overflow-x: auto; /* Scroll horizontal */
    width: 100%;
}

.tablas-oportunidades {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho */
    white-space: nowrap; /* Evita el ajuste de texto dentro de celdas */
    table-layout: fixed;
}

.tablas-oportunidades td {
    white-space: nowrap; /* Evita que el texto se envuelva en varias líneas */
    overflow: hidden; /* Oculta el desbordamiento del contenido */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es muy largo */
    max-width: 150px; /* Define un ancho máximo para las celdas (ajusta según tu diseño) */
  }
  
  .tablas-oportunidades th {
    white-space: nowrap; /* Asegura que los encabezados sigan el mismo comportamiento */
  }

/* Asegurar que todo el top esté en una sola fila */

/* Asegura que los elementos estén alineados horizontalmente */
.top {
    display: flex;
    justify-content: space-between; /* Separa el bloque de botón + selector del buscador */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%;
}

/* Agrupar el botón de Excel y el selector de cantidad de registros en una fila */
.top .dt-buttons,
.top .dt-length {
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    margin-right: 10px; /* Espacio entre el botón y el selector */
}

/* Asegura que el buscador esté al final */
.top .dt-search {
    margin-left: auto; /* Empuja el buscador al final de la fila */
}

#filtersSearch {
    padding: 20px;
    padding-top: 10px;
}

.selecting.select2-container .select2-selection--single {
    width: 100%;
    height: 36px !important;
    background-color: #ffffff;
}

.selecting.select2-container .select2-results__options {
    max-height: 140px !important; /* Ajusta la altura según tus necesidades */
    overflow-y: auto; /* Añade scroll si el contenido excede */
}

.tablas-oportunidades th,
.tablas-oportunidades td {
  background-color: #ffffff; /* blanco */
}

.select2-container .select2-selection--single {
    height: 34px !important;  
    line-height: 30px;
    
  }

  .btn-search{
    margin-top: 25px;
  }

  /* Estilos para el loader */
  .loader {
    position: relative;
    width: 30px; /* Ajusta el tamaño según lo que necesites */
    height: 30px;
    display: inline-block;
  }
  
  .spinner {
    border: 4px solid #f3f3f3; /* color de fondo */
    border-top: 4px solid #88d600; /* color del spinner */
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 1s linear infinite;
  }
  
  /* Animación de rotación */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.col-nombre {
  min-width: 200px !important;
  font-weight: bold !important;
}

/* Estilo común para los encabezados */
.tabla-productividad th {
  text-align: center !important;
  vertical-align: middle !important;
  font-weight: bold !important;
}

/* Escala de grises progresiva */
.mes-1 {
  background-color: #f5f5f5; /* Gris muy claro */
}

.mes-2 {
  background-color: #ebebeb; /* Gris intermedio */
}

.mes-3 {
  background-color: #e0e0e0; /* Gris más marcado */
}

.mes-4 {
  background-color: #d3d3d3; /* Gris más marcado */
}

/* Totales, si quieres separarlos visualmente */
.mes-totales {
  background-color: #fff3e0;
}

 .swal2-custom-zindex {
    z-index: 9999 !important;
    /* Mayor que el modal */
  }

  /* Hacer que el encabezado del modal sea fijo */
  .ui-dialog .ui-dialog-titlebar {
    position: sticky !important;
    /* Mantenerlo fijo en la parte superior */
    top: 0 !important;
    /* Asegurarse de que esté pegado a la parte superior */
    z-index: 1 !important;
    /* Mantenerlo sobre el contenido desplazable */
    background: #88d600 !important;
    /* Fondo del encabezado */
    color: white !important;
    /* Color del texto */
    padding: 10px !important;
    /* Espaciado interno */
    border-bottom: 1px solid #ddd !important;
    /* Línea divisoria */
  }

  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 0.6em;
    top: 46%;
    width: 30px;
    margin: -13px 0 0 0;
    padding: 1px;
    height: 20px;
  }

  /* Contenedor principal del modal */
  .ui-dialog {
    max-height: 100vh !important;
    /* Altura máxima del modal */
    overflow: hidden !important;
    /* Ocultar scroll externo */
    padding: 0 !important;
    /* Eliminar padding innecesario */
  }

  /* Hacer desplazable solo el contenido debajo del encabezado */
  .ui-dialog .ui-dialog-content {
    max-height: calc(100vh - 220px) !important;
    /* Restar el alto del encabezado */
    overflow-y: auto !important;
    /* Habilitar scroll vertical */
    padding: 15px;
    /* Opcional: Espaciado interno */
  }

  /* Contenedor de los botones */
  .ui-dialog .ui-dialog-buttonpane {
    position: sticky !important;
    /* Fijo en la parte inferior del área desplazable */
    bottom: 0 !important;
    /* Pegado al fondo */
    z-index: 1 !important;
    /* Mantenerlo sobre el contenido */
    background: white !important;
    /* Fondo de los botones */
    /* Línea divisoria */
    padding: 10px !important;
    /* Espaciado interno */
  }

  /* Estilo del scrollbar en el contenido desplazable */
  .ui-dialog-content::-webkit-scrollbar {
    width: 5px !important;
    /* Ancho del scroll vertical */
  }

  .ui-dialog-content::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
    /* Fondo claro del track */
    border-radius: 5px !important;
    /* Bordes redondeados */
  }

  .ui-dialog-content::-webkit-scrollbar-thumb {
    background: #888 !important;
    /* Color del thumb */
    border-radius: 5px !important;
    /* Bordes redondeados */
  }

  .ui-dialog-content::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
    /* Color más oscuro al hacer hover */
  }


  .top {
    display: flex;
    justify-content: space-between;
    /* Distribuye el espacio entre los elementos */
    align-items: center;
    /* Alinea los elementos verticalmente */
    width: 100%;
    /* Asegura que ocupe el espacio completo */
  }

  /* Agrupa el botón de Excel y el selector en una sola sección */
  .top .dt-buttons {
    display: flex;
    align-items: center;
    /* Alinea verticalmente el contenido del botón de Excel */
    margin-right: 10px;
    /* Espacio a la derecha */
  }

  /* Asegura que el campo de búsqueda esté al final */
  .top .dataTables_filter {
    margin-left: auto;
    /* Empuja el buscador al final */
  }

  /* Espaciado entre el selector y el botón */
  .top .dataTables_length {
    margin-right: 10px;
    /* Añadir espacio entre el selector y el botón de Excel */
  }

  .btnConsultar,
  .btnCancelar {
    margin-top: 26px;
  }

  .select2-container .select2-selection--single {
    height: 34px !important;
    /* Ajusta este valor según el tamaño deseado */
    line-height: 30px;
    /* Alinea el texto verticalmente */
  }


  /* Elimina completamente la barra de título del modal */
  .custom-dialog2 .ui-dialog-titlebar {
    display: block;
  }

  /* Personaliza el cuadro del modal */
  .custom-dialog2 {
    background-color: white;
    /* Fondo blanco */
    /* Borde gris claro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    /* padding: 20px; */
    /* Espaciado interno */
    /* border-radius: 8px; */
    /* Bordes redondeados opcionales */
  }

  /* Botones del modal en la parte inferior */
  .custom-dialog2 .ui-dialog-buttonpane {
    /* Centra los botones */
    background: none;
    /* Sin color de fondo en el contenedor de botones */
    border-top: none;
    /* Sin borde superior */
  }

  .custom-dialog2 .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
    text-align: center !important;
  }

  .custom-dialog2 .ui-dialog-buttonset button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    /* Azul para botón aceptar */
    color: white;
    border: none;
    cursor: pointer;
  }

  .custom-dialog2 .ui-dialog-titlebar-close {
    font-size: 18px;
    color: white;
    border: none;
    background: #88d600;
  }

  #closeButtonModal {
    /* padding: 0 !important; */
    margin: 0 !important;
    font-weight: 100;
    border: 1px solid white;
    padding: 0 5px 0 5px !important;
    border-radius: 4px;
  }

  #closeButtonModal:hover {
    /* padding: 0 !important; */
    scale: 1.1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .custom-dialog2 .ui-widget-header {
    border: 0;
  }

  .custom-dialog2 .ui-resizable-handle {
    /* position: absolute; */
    /* font-size: 0.1px; */
    /* display: block; */
    -ms-touch-action: none;
    touch-action: none;
  }

  .ui-dialog {
    width: 100% !important;
    /* Ocupar todo el ancho disponible */
    max-width: 850px;
    /* Ancho máximo del modal */
    position: fixed !important;
    /* Fijar el modal en relación al viewport */
    top: 50%;
    /* Centrar verticalmente */
    left: 50%;
    /* Centrar horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajustar la posición para centrar exactamente */
    margin: 0;
    /* Elimina márgenes adicionales */
    z-index: 9999;
    /* Asegura que el modal esté por encima de otros elementos */
    max-height: 90vh;
    /* Limita la altura al 90% del viewport */
    overflow-y: auto;
    /* Habilita el scroll vertical si el contenido es extenso */
  }

  .custom-dialog2 .ui-dialog-content {
    max-height: calc(80vh - 150px);
    /* Ajusta el contenido según el viewport */
    overflow-y: auto;
    /* Habilita el scroll dentro del contenido */
    padding: 0 !important;
    /* Elimina el padding del contenido */
  }

  .ui-dialog-titlebar {
    padding: 0;
    /* Elimina el padding del encabezado */
  }

  .custom-dialog2 .ui-dialog .col-lg-12 {
    padding: 0;
    /* Elimina márgenes adicionales del contenido */
  }

  .custom-dialog2 {
    width: 100%;
    /* Se adapta al contenedor */
    box-sizing: border-box;
    /* Incluye padding y borde en el ancho total */
  }

  #btnGuardar {
    background-color: #88d600;
    min-width: 100px;
  }

  #btnCerrar {
    background-color: black;
    min-width: 100px;
    margin-right: 36px;
  }

  .custom-dialog2 .ui-dialog-title {
    color: white;
    font-weight: 600;
    font-size: 13px;
    padding-left: 15px;
  }


  .custom-dialog2 .ui-dialog-titlebar {
    padding: 1.0em 1em;
    position: relative;
  }

  .custom-dialog2 .ui-corner-all,
  .ui-corner-bottom,
  .ui-corner-right,
  .ui-corner-br {
    border-bottom-right-radius: 0px;
  }

  .custom-dialog2 .ui-corner-all,
  .ui-corner-bottom,
  .ui-corner-left,
  .ui-corner-bl {
    border-bottom-left-radius: 0px;
  }

  .ui-widget-content {
    border: 0;
  }

  #modalSeguimiento{
    padding: 11px 58px 0px 58px !important;
  }

  .ui-widget.ui-widget-content {
    border: 0;
  }

  .ui-dialog {
    padding: 0;
  }

  .no-resize {
    /* resize: vertical; Permite cambiar solo la altura, no el ancho */
    /* Si deseas deshabilitar completamente el redimensionamiento, usa: */
    resize: none;
    margin: 0 !important;
  }

  .full-width-textarea {
    width: 100%;
    /* Ocupa el 100% del ancho disponible */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el cálculo del ancho */
  }



  #select2-txtEstadoOportunidadModal-results {
    max-height: 84px !important;
    overflow-y: auto;
  }

  .btnEliminarOportunidad{
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
  }

  .btnEliminarOportunidad:hover{
    background-color: #a71d2a;
  }

  .btnEliminarOportunidad:focus{
    background-color: #dc3545 !important;
  }

  .boton-eliminar {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
  }

  .tabla-productividad tbody td {
  font-size: 13px !important;
  }