/* //Cotizador AssistCard// */

.radio-container{
    margin-left: 30px;
}

.btn-cot{
    margin-top: 25px;
}

.paddingTop {
    padding-top: 20px;
}

.spinner-container {
    justify-content: center;
    align-items: center;
    margin: 20px;
    display: none;
}
  
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1); 
  border-left-color: #88d600; 
  border-radius: 50%; 
  animation: spin 1s linear infinite; 
}
  
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.row-aseg {
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

#menosCotizacion {
  display: block;
  text-align: right;
}

#masCotizacion {
  display: none;
  text-align: right;
}

#menosParrilla {
  display: block;
  text-align: right;
}

#masParrilla{
  display: none;
  text-align: right;
}

.planeCot{
  color: #88d600;
  margin-left: 10px;
  transform: scale(1.5); 

}

#containerCardsSalud{
  margin-top: 10px;
  display: none;
}
.mainDataContainer{
  margin-top: 20px;
}

.marginBot{
  margin-bottom: 60px;
}

.select2-container--bootstrap .select2-results>.select2-results__options {
  max-height: 90px !important;
  overflow-y: auto;
}

.nombreCompleto{
    display: flex;
    gap: 10px;
}
.nombre, .apellido{
    flex: 1;
}

.rowAseg{
    margin: 15px 0px 20px 0px;
}

.colorGray{
    color: #95989e;
}

.cantAsegurados{
    display: block;
}

.correo {
    /* padding-right: 5px !important; */
}

.celular {
    /* padding-left: 5px !important; */
}

#masCotHogar {
  display: none;
  text-align: right;
}

#menosCotHogar {
  display: block;
  text-align: right;
}

#masDataHogar {
  display: none;
  text-align: right ;
}

#menosDataHogar {
  display: block;
  text-align: right;
}

#masValoresHogar {
  display: none;
  text-align: right ;
}

#menosValoresHogar {
  display: block;
  text-align: right;
}

#masValoresHogarAllianz {
  display: none;
  text-align: right ;
}

#menosValoresHogarAllianz {
  display: block;
  text-align: right;
}

.box {
  box-shadow: none
}

.ui-dialog .ui-dialog-titlebar {
  display: none;
}

.ui-widget-header {
      /* border: 1px solid #dddddd; */
    background: #fff;
    color: #000000;
    font-weight: bold;
}

/* .ui-corner-all {
  border-radius: 0px !important;
  border: none !important;
} */

#myModalHogarVidaDeudor .ui-corner-all {
  border-radius: 15px !important;
  border: none !important;
}


.ui-dialog-titlebar-close {
  display: none !important;
}

#myModalHogar {
  padding: 30px 30px 30px 30px !important;
}

.header-modal-hogar {
  font-size: 15px;
  font-weight: 700;
}

#realModalHogar select{
  font-size: 13px;
}

#realModalHogar input {
  font-size: 13px;
}

@media (max-width: 1280px) {
  #realModalHogar select {
    font-size: 11px;
  }
  #realModalHogar input {
    font-size: 12px;
  }
}

.card-body{
  padding: 10px;
}

.btn-modal {
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
}

.informativeTable {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
}

.tab1Table {
  width: 274px;
}

.tab2Table {
  vertical-align: top; 
  width: 345px;
}

.general-container-cards{
  padding-left: 16px;
  padding-right: 16px;
}

.col-cards-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.table-alerts {
  margin-left: 30px;
  margin-right: 30px;
}

.notas-resumen-cot {
  padding-left: 30px; 
  padding-right:30px; 
  margin-bottom: 30px
}

@media (max-width: 768px) {

  .notas-resumen-cot {
    padding-left: 0px; 
    padding-right:0px; 
    margin-bottom: 30px;
    text-align: justify;
  }

  .table-alerts{
    margin-left: 0px;
    margin-right: 0px;
  }

  .verpdf-oferta {
    padding-top: 60px !important;
    padding-bottom: 0px;
    text-align: center;
}
  
  .tab2Table {
    vertical-align: auto; 
  }

  .card-body{
    padding: 5px;
  }
  
  .tab1Table {
    width: 345px !important;
  }

  .informativeTable{
    justify-content: center;
    flex-wrap: wrap;
  }

  .oferta-headerEdit{
    text-align: center;
    padding-top: 0px !important;
  }

  .oferta-logo{
    padding-top: 0px !important;
  }

  .general-container-cards {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.loader-spinner {
  position: absolute;
  right: 100px;
  top: 69%;
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
  display: none;
  pointer-events: none;
}
.loader-spinner-subZona {
  position: absolute;
  right: 111px;
  top: 57%;
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
  display: none;
  pointer-events: none;
}

#fechaNacimiento .select2-container--bootstrap .select2-selection--single {
  height: 34px !important;
  line-height: 1.42857143;
  padding: 9px 24px 6px 12px;
  background-color: #E8E8E8 !important;
}

      
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #88D600; /* Color del loader */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  z-index: 1062;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}